@import "../../style/vars";

.guess {
  flex-grow: 1;

  display: flex;
  justify-content: space-evenly;

  border: 1px solid $color-1;
  margin: $unit;
  padding: $unit;
}

.enabled {
  border: 1px solid $color-2;
}
