@import "../../style/vars";

.guess {
  flex-grow: 1;

  display: flex;
  justify-content: space-evenly;

  background: lighten($color-0, 8%);

  margin-top: $unit;

  border-radius: $unit;
}

.enabled {
  background: $color-1;
}
