@import "../../style/vars";

.pin {
  width: $pin-size;
  height: $pin-size;
  margin: 0.5em;
  border-radius: 50%;
}

.hole {
  background-color: $color-1;
}

.black {
  border: 1px solid $color-2;
}

.white {
  background-color: $color-2;
}
