@import "../../style/vars";

.result {
  display: flex;
  align-items: center;
}

.result_row_wrap {
  display: flex;
  flex-direction: column;
}

.result_row {
  display: flex;
  margin: $unit/2 0;
}
