@import "../../style/vars";

.available_pegs_wrap {
  width: $peg-size + ($unit * 3);
}

.available_pegs {
  position: fixed;
  top: inherit;
}

.info {
  margin-top: $peg-size;

  div {
    border: 3px solid lighten($color-1, 5%);
    font-family: "Courier New", Courier, monospace;
  }
}
