@import "../../style/vars";

.peg {
  margin: $unit / 2;
  border-radius: 50%;
  outline: none;
  width: $peg-size;
  height: $peg-size;

  @media (max-width: 350px) {
    width: $peg-size-small;
    height: $peg-size-small;
  }
}

.selected {
  border: 3px solid $color-2;
}

.peg_0 {
  background-color: $color-1;

  &.enabled {
    background-color: $color-0;
    border: 3px solid lighten($color-1, 5%);
  }
}

.peg_1 {
  background-color: $color-peg-1;
}

.peg_2 {
  background-color: $color-peg-2;
}

.peg_3 {
  background-color: $color-peg-3;
}

.peg_4 {
  background-color: $color-peg-4;
}

.peg_5 {
  background-color: $color-peg-5;
}

.peg_6 {
  background-color: $color-peg-6;
}
