$color-0: black;
$color-1: lighten($color-0, 15%);
$color-2: white;

$color-peg-1: green;
$color-peg-2: blue;
$color-peg-3: orange;
$color-peg-4: purple;
$color-peg-5: skyblue;
$color-peg-6: red;

$unit: 0.5em;

$peg-size: $unit * 6;
$peg-size-small: $unit * 5;
$pin-size: $unit * 2;
