@import "./vars";

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-0;
  color: $color-2;
  font-family: sans-serif;
  letter-spacing: 1px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: $color-2;
  text-decoration: underline;
}

#meat {
  display: flex;
  justify-content: center;
  min-width: 300px;
}

.internallink {
  text-decoration: underline;
  cursor: pointer;
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  background: $color-2;
  color: $color-0;
  padding: $unit * 2;
  margin: $unit * 2;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 2px;
  cursor: pointer;
}
