@import "./vars";

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-0;
  color: $color-2;
  font-family: "Courier New", Courier, monospace;
}

#meat {
  display: flex;
  max-width: 666px;
}
